html {
    /* --primary-color: #4EFFBF; */
    --navbar-color: #e7e7e7;
    --primary-color: #dadada;
    --on-background: #222236;
    --surface-color: #f0f0f0;

    --secondary: #f0f0f0;
    --on-surface: #f0f0f0;
    --background: #FFFFFF;
    --on-primary: #ffffff;
    --danger: #da0000;
    --goodIndication: #00be29;

    --formFieldWidth:450px;
}
.btn{
    background-color: var(--primary-color) ;
    color: black;
    outline: none;
    border: 0;
    
}
.btn:hover,.btn:active,.btn:visited,.btn::selection{
    background-color: var(--primary-color) ;
    color: black;
    outline: none;
    border: 0;

}

body{ 
    background-color: var(--on-surface);
    /* min-width: 1000px; */
    /* padding: 60px 50px; */
    /* margin-top: auto;
    margin-bottom: auto; */
   }
   
.backgroundContainer{
    background-color: var(--on-surface);
    padding-bottom: 10px;
    padding-top: 30px;

   }
.headerContainer{
    background-color: var(--primary-color);
    /* padding-top: 15px; */
    width: 100%;

    
}
.headerPageListContainer{
    background-color: var(--on-surface); 
    padding: 10px 0px;
    width: 100px;
    /* min-width: 100px;
    max-width: 300px; */
    flex-wrap: nowrap;
    /* margin-left: 7vw; */
    

}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color:var(--on-background);
    font-weight: bold;

    /* text-decoration: underline; */
}

.infoBox{
    margin-top: 50px;
    
}

.navigationContainer{
    background-color: var(--navbar-color);
    margin-left: -10px;
    position: fixed;
    height: 100vh;
    margin-top: 85px;
    max-width: 250px ;

}

.sidebarList{
    /* height: 100px; */
    /* background-color: #00be29; */
    margin-left: -30px;
    font-size: larger;
}
li{
    list-style: none;
}
.errorMessage{
    color: var(--danger)
}
.clickable,a{
    cursor: pointer;
}

#displayWindow{
    padding-top: 30px;
    padding-left: 10vw;
    margin-top: 85px;
}

table{
    text-align: center;
    
}

.cardContainer{
    background-color: var(--navbar-color);
    border-radius: 15px;
    width: 1200px;
    min-width: 900px;
    /* margin-left: 0px; */
    margin: 0px;
    margin-right: 0px auto;
    height: 350px;
    /* padding-top: 50px;
    padding-bottom: 50px; */


}

.headerBackground{
    background-color: var(--primary-color)
    
}

.form-control{
    width:var(--formFieldWidth)
}
.deleteButton{
    border-width: 2px;
    color:  var(--danger);
}
.deleteButton:hover{
    background-color: var(--danger);
}
.form-group{
    margin-bottom: 15px;
}

/* .goodIndication{
    background-color: var(--goodIndication);
} */
.goodIndication:hover {
    background-color: var(--goodIndication);
}
.buttonWider{
    padding-left: 60px;
    padding-right: 60px;

}

/* #addBranchBtn{

    margin-left: -500px;
} */

/* .row{
    --bs-gutter-x: 0rem;
} */


/* last */
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
/* .row.content {height: 550px} */
    
/* Set gray background color and 100% height */
/* .sidenav {
  background-color: #f1f1f1;
  height: 100%;
} */
    
/* On small screens, set height to 'auto' for the grid */
/* @media screen and (max-width: 767px) {
  .row.content {height: auto;} 
} */

.searchSortBox{
    background-color: var(--background);
    /* padding-right: 50px; */
}
#searchBorderBox{
    /* background-color: #222236; */
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

#searchSortBox{
    /* margin-left: -20px; */
}